<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Converter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous" defer></script>

    <script src="/javascripts/index.js" defer></script>

  </head>
  <body class="flex-column center-both">

  	<div id="saving-overlay" class="fullscreen flex-column center-both" style="display: none;">
  		<span id="saving-content"></span><div id="console-underscore">&#95;</div>
  	</div>

    <h1>Save a song or video from YouTube</h1>

    <h4>Set the directory to save in (default will be project folder)</h4>

  	<form>
      <input type="text" id="dirpath" />
    </form>

    <h2>Audio</h2>

    <form id="audio" class="center-text">
      <input type="text" name="url" placeholder="url (required)" autocomplete="true" required/>
      <br/>
    	<input type="text" name="artist" placeholder="artist" />
      <input type="checkbox" name="artistInFilename" checked/><label for="artistInFilename">Include in filename and trackname</label>
      <br/><br/>
      <input type="text" name="title" placeholder="title (required)" required />
      <br/>
      <input type="text" name="version" placeholder="version/album/comments" pattern="{0,20}" />
    	<br/>
      <p>range</p>
      <div>
        <input type="number" name="startH" min="0" step="1" value="00" pattern="[0-9]{0,2}" />:
        <input type="number" name="startM" min="0" step="1" max="60" value="00" pattern="[0-9]{0,2}" />:
        <input type="number" name="startS" min="0" max="60" value="00" pattern="[0-9]{0,2}" />
        &nbsp;to&nbsp;
        <input type="number" name="endH" min="0" step="1" pattern="[0-9]{0,2}" />:
        <input type="number" name="endM" min="0" step="1" max="60" pattern="[0-9]{0,2}" />:
        <input type="number" name="endS" min="0" max="60"  pattern="[0-9]{0,2}"/>
      </div>
      <br/>
    	<button type="button" onclick="save('audio')" class="button">Save</button>
    </form>

    <!-- <h2>Video</h2>

    <form id="video" class="center-text">
      <input type="text" name="url" placeholder="url (required)" required/>
      <br/>
      <input type="text" name="artist" placeholder="artist" />
      <br/>
      <input type="text" name="title" placeholder="title (required)" required/>
      <br/>
      <input type="text" name="version" placeholder="version/album/comments" pattern="{0,20}" />
      <br/>
      <p>range</p>
      <div>
        <input type="number" name="startH" min="0" step="1" value="00" />:
        <input type="number" name="startM" min="0" step="1" max="60" value="00" />:
        <input type="number" name="startS" min="0" max="60" value="00" />
        &nbsp;to&nbsp;
        <input type="number" name="endH" min="0" step="1" />:
        <input type="number" name="endM" min="0" step="1" max="60" />:
        <input type="number" name="endS" min="0" max="60" />
      </div>
    	<br/>
    	<button type="button" onclick="save('video')" class="button">Save</button>
    </form> -->

    <div class="modal modal-bg fullscreen" id="message-modal">
      <div class="modal-content" id="message-dialog">
        A request has been sent to the server. 
        Your audio or video should be available in a few minutes.<br/>
        <button onclick="dismissMessage()">Got it</button>
      </div>
    </div>
  </body>
</html>
