<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Audio Saver</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="flex-column center-both">
    <h1>Save a song from YouTube</h1>

    <form method="POST" class="center-text">
    	<input type="text" name="filename" placeholder="filename here" />
    	<br/>
    	<br/>
    	<input type="text" name="url" placeholder="url here" />
    	<br/>
    	<br/>
    	<button type="submit" class="button">Save</button>
    </form>
  </body>
</html>
