body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center-both {
	justify-content: center;
	align-items: center;
}

.center-text {
	text-align: center;
}