body {
  padding: 50px;
  font: 16pt "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
	padding: 0.25rem;
	font-size: 14pt;
	text-align: center;
}

input[type=text] {
	width: 100%;
}

input[type=number] {
	min-width: unset;
	width: 3rem;
}

input[type=checkbox] {
	cursor: pointer;
}

form {
	margin-bottom: 3rem;
}

button {
	border-radius: 0.5rem;
	box-shadow: none;
	font-size: 14pt;
	cursor: pointer;
}

button:focus {
	outline: none;
	box-shadow: 0 0 5px 0 #6ca1f9;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center-both {
	justify-content: center;
	align-items: center;
}

.center-text {
	text-align: center;
}

.fullscreen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-bg {
	pointer-events: none;
	opacity: 0;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 0.3s ease;
}

.modal-bg.active {
	opacity: 1;
}

.modal-content {
	pointer-events: auto;
	background: white;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0.5rem;
	border: 1px solid #999;
	transition: top 0.5s ease;
	transition-delay: 0.3s;
	text-align: center;
	white-space: pre-line;
	padding: 3rem;
}

.modal.active .modal-content {
	top: 30%;
}

.fs-small {
	font-size: small;
}

#message-dialog {
	line-height: 2rem;
}
